.lign {
  width: 100%;
  height: 1px;
  background: #fff;
  margin-bottom: 10%;
}

// INTERIEUR DU FOOTER

.logo-dargaud {
  padding: 0;
  margin-left: 7.5%;
}

.footer-all {
  display: flex;
}

.logos {
  padding: 8% 0 5% 0;
  display: flex;
}

.footer-contact-icon {
  width: 50%;
}

//TEXTES FOOTER

.text-footer {
  color: var(--white, #fff);
  padding-bottom: 18px;
  font-family: "Creato Display", "Arial";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.title-footer {
  color: var(--white, #fff);
  padding-bottom: 30px;
  font-family: "Creato Display", "Arial";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.space-title {
  padding-top: 7%;
}

.rights {
  color: var(--white, #fff);
  text-align: center;
  font-family: "Creato Display", "Arial";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 7% 0 2% 0;
}

// NEWSLETTER

.inscription {
  display: flex;
  gap: 30px;
  background-color: #060c11;
}

.subscribe {
  display: flex;
  width: 454px;
  align-items: center;
  justify-content: start;

  gap: 10px;
  flex-shrink: 0;
  border: 1px solid var(--purple, #e6affa);
}

.textfield input {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: "Creato Display", "Arial";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  padding: 15px 50% 15px 30px;
  background-color: #060c11;
}

.button-subscribe {
  color: var(--black, var(--black, #000));
  text-align: center;
  background: var(--purple, #e6affa);
  font-family: "Creato Display", "Arial";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  width: 214px;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: background-color 0.5s;
}

footer a:hover,
.hover-infos:hover {
  color: #e6affa;
}
