// IMG POUR PARRALAX

.parralax-img-1 {
  width: 100%;
}
.parralax-img-2 {
  width: 100%;
  bottom: 20%;
}
.parralax-img-3 {
  width: 33%;
  top: 22%;
  left: 34%;
}
.parralax-img-4 {
  width: 35%;
  bottom: 30%;
  left: 42%;
}

.parralax-img {
  position: absolute;
  object-fit: cover;
}

//PARRALX CONTAINER

.parralax {
  height: 84vw;
}

.parallax-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.parallax-element-cover {
  width: 100%;
  height: 100%;
}

.parralax-end-shadow {
  width: 180%;
  height: 46vh;
  background: linear-gradient(0deg, #000 26.5%, rgba(0, 0, 0, 0) 100%);
  transform: translateY(250%);
}
