.parralax-img-1 {
  width: 100%;
}
.parralax-img-2 {
  width: 100%;
  top: 8%;
}
.parralax-img-3 {
  width: 33%;
  top: 37%;
  left: 35%;
}
.parralax-img-4 {
  width: 35%;
  top: 57%;
  left: 45%;
}

.parralax-container {
  margin-top: 1000px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parralax-img {
  position: absolute;
  object-fit: cover;
  will-change: transform;
}

// .parralax-end-shadow {
//   width: 1728px;
//   height: 405px;
//   flex-shrink: 0;
//   background: linear-gradient(0deg, #000 26.5%, rgba(0, 0, 0, 0) 100%);
// }
.parralax-end-shadow {
  width: 180%;
  height: 46vh;
  background: linear-gradient(0deg, #000 26.5%, rgba(0, 0, 0, 0) 100%);
  transform: translateY(250%);
}

.parralax {
  height: 100vh;
}
