.slider-mask {
  overflow: hidden;
  /*  height: 100vh;*/
}

.slider-container {
  display: inline-flex;
  height: 110vh;
}

.spacer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #060c11;
}

.slider-mask {
  overflow: hidden;
  height: 100vh;
}

.slider-container {
  display: inline-flex;
  height: 100%;
  background-color: #060c11;
}

.slider-item {
  width: calc(100vw - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-item-1 {
  width: calc(110vw - 30px);
  background-image: url(../../img/bg1-scroll.png);
  background-size: cover;
  position: relative;
}

.slider-item-2 {
  width: calc(140vw - 30px);
  position: relative;
}

.slider-item-3 {
  width: calc(140vw - 30px);
  position: relative;
}

.slider-item-4 {
  width: calc(150vw - 30px);
  background-image: url(../../img/bg3-scroll.png);
  background-size: cover;
  background-position: 100%;
  position: relative;
}

.scroll-1 {
  width: 20%;
  position: absolute;
  top: 20%;
  left: 31%;
}

.scroll-2 {
  width: 34%;
  position: absolute;
  top: 48%;
  left: 54%;
}

.scroll-3 {
  width: 17%;
  position: absolute;
  top: 10%;
  left: 77%;
}

.scroll-hover {
  width: 18%;
  position: absolute;
  top: 16%;
  left: 13%;
  opacity: 0;
  transition: opacity 0.5s;
}

.scroll-hover:hover {
  opacity: 100;
  transition: smooth;
  transition: opacity 0.5s;
}

.scroll-4 {
  width: 18%;
  position: absolute;
  top: 16%;
  left: 13%;
}

.scroll-5 {
  width: 13%;
  position: absolute;
  top: 12%;
  left: 47%;
}

.scroll-6 {
  width: 27%;
  position: absolute;
  top: 53%;
  left: 41%;
}

.scroll-7 {
  width: 12%;
  position: absolute;
  top: 10%;
  left: 75%;
}

.scroll-78 {
  width: 12%;
  position: absolute;
  top: 20%;
  left: 65%;
}

.scroll-8 {
  width: 13%;
  position: absolute;
  top: 35%;
  left: 90%;
}

.scroll-9 {
  width: 25%;
  position: absolute;
  top: 15%;
  left: 19%;
}

.scroll-10 {
  width: 29%;
  position: absolute;
  top: 58%;
  left: 26%;
}

.scroll-1011 {
  width: 11%;
  position: absolute;
  top: 34%;
  left: 47%;
}

.scroll-11 {
  width: 12%;
  position: absolute;
  top: 11%;
  left: 63%;
}

.scroll-12 {
  width: 9.5%;
  position: absolute;
  top: 33%;
  left: 78.5%;
}

.scroll-13 {
  width: 8.5%;
  position: absolute;
  top: 33%;
  left: 5.5%;
}

.scroll-14 {
  width: 9.5%;
  position: absolute;
  top: 36%;
  left: 17%;
}

.scroll-15 {
  width: 14%;
  position: absolute;
  top: 13%;
  left: 30.5%;
}

.scroll-16 {
  width: 24%;
  position: absolute;
  top: 63%;
  left: 27.5%;
}

.scroll-17 {
  width: 15%;
  position: absolute;
  top: 28.5%;
  left: 47%;
}
