.slider-mask {
  overflow: hidden;
  /*  height: 100vh;*/
}

.slider-container {
  display: inline-flex;
  height: 100vh;
}

.spacer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(
    45deg,
    #606dbc33,
    #606dbc33 10px,
    #606dbc00 10px,
    #606dbc00 20px
  );
}

.slider-mask {
  overflow: hidden;
  height: 100vh;
}

.slider-container {
  display: inline-flex;
  height: 100%;
}

.slider-item {
  width: calc(100vw - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px red solid;
}

.slider-item-1 {
  width: calc(110vw - 30px);
  background-image: url(../../img/bg1-scroll.png);
  background-size: cover;
  position: relative;
}

.scroll-1 {
  width: 20%;
  position: absolute;
  top: 20%;
  left: 31%;
}

.scroll-2 {
  width: 34%;
  position: absolute;
  top: 48%;
  left: 54%;
}

.scroll-3 {
  width: 17%;
  position: absolute;
  top: 10%;
  left: 77%;
}

.scroll-4 {
  width: 6%;
  position: absolute;
  top: 20%;
  left: 31%;
}

.scroll-5 {
  width: 4%;
  position: absolute;
  top: 17%;
  left: 44%;
}

.scroll-6 {
  width: 9%;
  position: absolute;
  top: 55%;
  left: 41%;
}

.scroll-7 {
  width: 4%;
  position: absolute;
  top: 12%;
  left: 52.5%;
}

.scroll-78 {
  width: 4%;
  position: absolute;
  top: 23%;
  left: 49%;
}

.scroll-8 {
  width: 5%;
  position: absolute;
  top: 37%;
  left: 57.5%;
}

.scroll-9 {
  width: 9%;
  position: absolute;
  top: 17%;
  left: 68%;
}
