* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
video {
  display: block;
}

html {
  background-color: #060c11;
  color: white;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
